.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.results-list {
  list-style: none;
  padding: 0;
}

.results-list li {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.title,
.author,
.isbn,
.publisher,
.publication-date,
.price {
  font-weight: bold;
}

.title span,
.author span,
.isbn span,
.publisher span,
.publication-date span,
.price span {
  font-weight: normal;
}

.title {
  color: #555;
}

.author {
  color: #777;
}

.isbn,
.publisher,
.publication-date {
  color: #888;
}

.price {
  color: #c00;
}

.book-container-portada {
  max-width: 300px; /* Ancho máximo deseado */
}


.book-item {
  display: flex;
  align-items: center;
  gap: 20px;
  /* Ajusta el espaciado entre la imagen y la información */
}

.book-image {
  width: 150px; /* Ajusta el ancho deseado para la imagen */
}

.book-container-info {
  flex: 1;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  margin-right: 10px;
}

.row {
  display: flex;
}

.column {
  flex: 1;
}

